@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

* {
  font-family: "Quicksand";
  margin: 0;
}
html {
  background-color: #F8F1F1;
}
body { 
  background: linear-gradient(to bottom, #5EAAA8, #F8F1F1, #5EAAA8);
  height: 100%;
}

/* Navbar Styling */

.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 100vw;
  background-color: #F8F1F1;
  position: fixed;
  top: 0;
  width: 100%;
  box-sizing: border-box;
  border-bottom: 1px solid grey;
}
.navbar h1 {
  color: #5EAAA8;
  font-weight: 500;
}
.navbar .links {
  margin-left: auto;
}
.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
  color: #5EAAA8;
  font-weight: 500;
  border-radius: 12px;
}
.navbar .current {
  background-color: #A3D2CA;
  color: #EB5E0B;
}

/* Home Styling */

.home-h2 {
  text-align: center;
  margin-bottom: 16px;
  font-weight: 500;
}
.content {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
  margin-top: 8vh;
}

/* Goal List Styling */

.goal-preview {
  background-color: white;
  border-radius: 12px;
  border: 1px solid grey;
  width: 100%;
  margin-bottom: 18px;
}
.goal-preview:hover {
  box-shadow: 1px 3px 5px grey;
  cursor: pointer;
}
.goal-link {
  text-decoration: none;  
}
.goal-header {
  padding: 14px;
  width: 100%;
  box-sizing: border-box;  
}
.goal-header h2 {
  color: black;
  font-weight: 500;
  padding: 0 8px;
  border-radius: 12px;
}
.goal-date {
  color: grey;
  font-weight: 400;
  padding: 0 8px;
}
.goal-steps {
  padding: 10px;
  color: black;
  margin-left: 12px;
}
.goal-step {
  display: flex;
  margin: 4px 0;
}
.goal-step p {
  margin: 0 4px;
}
.goal-step-number {
  width: 12px;
  color: #F8F1F1;
  background-color: #A3D2CA;
  border-radius: 50%;
  padding: 4px;
  font-size: 10px;
  text-align: center;
  font-weight: 900;
}
.goal-footer {
  display: flex;
  padding: 14px;
  justify-content: flex-end;
  
}
.goal-footer p {
  background-color: #EB5E0B;
  color: #F8F1F1;
  font-weight: 500;
  padding: 6px;
  border-radius: 12px;
  margin: 0 8px;
}

/* Goal Details Styling */
.goal-details .goal-header {
  display: flex;
  justify-content: space-between;
  align-items: top;
}
.goal-icons i {
  padding: 4px;
  cursor: pointer;
  color: grey;
}
.goal-icons i:hover {
  color: grey;
}

/* Create Goal Styling */
.create-goal {
  max-width: 450px;
  margin: 0 auto;
  text-align: center;
  border: 1px solid grey;
  border-radius: 12px;
  background-color: #F8F1F1;
}
.create-goal label {
  text-align: left;
  display: block;
  font-weight: 300;
}
.create-goal h2 {
  font-size: 20px;
  color: #5EAAA8;
  padding: 20px 10px 10px 0;
  border-radius: 11px 11px 0 0;
  font-weight: 600;
}
.create-goal .form-main {
  padding: 12px;
}
.create-goal input, .create-goal select {
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #A3D2CA;
  box-sizing: border-box;
  display: block;
  border-radius: 4px;
}
form .form-selectors {
  display: flex;
  justify-content: space-between;
}

.form-selectors .selector {
  width: 45%;
}
.create-goal p {
  text-align: left;
  font-weight: 300;
}
.create-goal .add-step {
  text-align: right;
  color: #EB5E0B;
  cursor: pointer;
  font-weight: 500;
}
.create-goal .created-steps {
  border-radius: 12px;
  background-color: #A3D2CA;
  padding: 4px;
  margin: 8px 0;
  border: 1px solid #5EAAA8;
  color: #F8F1F1;
}
.created-steps p {
  font-weight: 500;
}
.form-step {
  display: flex;
  align-items: center;
}
.form-step i {
  cursor: pointer;
  padding-left: 6px;
}
.create-goal-footer {
  border-radius: 0 0 11px 11px;
  padding: 8px;
}
.create-goal button {
  background-color: #EB5E0B;
  color: #F8F1F1;
  border: 0;
  padding: 8px 16px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 10px;
}
#add-tag {
  margin-bottom: 0;
  box-sizing: border-box;
}
.form-main .input-help {
  font-size: 12px;
  color: #EB5E0B;
  font-weight: 600;
  margin-bottom: 16px;
}
.tag-cloud {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 12px;
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
}
.tag-cloud .tag {
  color: #5EAAA8;
  margin: 2px;
  padding: 4px;
  font-weight: 500;
  
}

/* Not Found Styling */
.not-found {
  border: 1px solid grey;
  border-radius: 12px;
  margin-top: 30px;
}
.not-found h2 {
  font-weight: 600;
  text-align: center;
  background-color: #EB5E0B;
  color: #F8F1F1;
  padding: 8px;
  border-radius: 11px 11px 0 0;
}
.not-found p {
  margin: 25px 0;
  font-size: 18px;
  padding: 10px;
}
.not-found a {
  text-decoration: none;
  color: #EB5E0B;
  font-weight: 500;
  
}
.not-found-link {
  text-align: right;
  padding: 12px;
  background-color: #A3D2CA;
  border-radius: 0 0 11px 11px;
}
