@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

* {
  font-family: "Quicksand";
  margin: 0;
}
body {
  background-color: #F8F1F1;
}

/* Navbar Styling */

.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  background-color: #5EAAA8;
  border-radius: 0 0 12px 12px;
}
.navbar h1 {
  color: #F8F1F1;
  font-weight: 500;
}
.navbar .links {
  margin-left: auto;
}
.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
  color: #F8F1F1;
  padding-bottom: 5px;
  font-weight: 500;
  border-radius: 12px;
}
.navbar .current {
  background-color: #A3D2CA;
  border: 1px solid #F8F1F1;
  color: #EB5E0B;
}

/* Home Styling */

.home-h2 {
  text-align: center;
  margin-bottom: 16px;
  font-weight: 500;
}
.content {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
}

/* Goal List Styling */

.goal-preview {
  background-color: white;
  border-radius: 12px;
  margin-bottom: 18px;
  border: 1px solid #5EAAA8;
}
.goal-preview:hover {
  box-shadow: 1px 3px 5px grey;
  cursor: pointer;
}
.goal-link {
  text-decoration: none;
}
.goal-header {
  background-color: #A3D2CA;
  border-radius: 11px 11px 0 0;
  padding: 10px;
  color: #F8F1F1;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
}
.goal-header h2 {
  font-weight: 500;
}
.goal-date {
  color: grey;
  font-weight: 400;
}
.goal-steps {
  padding: 10px;
  color: black;
}
.goal-footer {
  display: flex;
  background-color: #EB5E0B;
  padding: 8px;
  border-radius: 0 0 11px 11px;
  justify-content: space-around;
  color: #F8F1F1;
}

/* Goal Details Styling */
.goal-container {
  border: 1px solid #5EAAA8;
  background-color: white;
  border-radius: 12px;
}
.goal-icons i {
  padding: 4px;
}

/* Create Goal Styling */
.create-goal {
  max-width: 450px;
  margin: 0 auto;
  text-align: center;
  border: 1px solid grey;
  border-radius: 12px;
  background: linear-gradient(to bottom right, #5EAAA8, #F8F1F1, #5EAAA8);
}
.create-goal label {
  text-align: left;
  display: block;
  font-weight: 300;
}
.create-goal h2 {
  font-size: 20px;
  color: #EB5E0B;
  padding: 10px;
  /* background-color: #A3D2CA; */
  border-radius: 11px 11px 0 0;
  font-weight: 500;
}
.create-goal .form-main {
  padding: 32px 12px;
}
.create-goal input, .create-goal select {
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #A3D2CA;
  box-sizing: border-box;
  display: block;
  border-radius: 4px;
}
.create-goal p {
  text-align: left;
  font-weight: 300;
}
.create-goal .add-step {
  text-align: right;
  color: #EB5E0B;
  cursor: pointer;
  font-weight: 400;
}
.create-goal-footer {
  /* background-color: #EB5E0B; */
  border-radius: 0 0 11px 11px;
  padding: 8px;
}
.create-goal button {
  background-color: #EB5E0B;
  color: #F8F1F1;
  border: 0;
  padding: 8px 16px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 400;
}