@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

* {
  font-family: "Quicksand";
  margin: 0;
}
body {
  background-color: #F8F1F1;
}
.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  background-color: #5EAAA8;
  border-radius: 0 0 12px 12px;
}
.navbar h1 {
  color: #F8F1F1;
  font-weight: 500;
}
.navbar .links {
  margin-left: auto;
}
.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
  color: #EB5E0B;
  /* text-decoration: underline #F8F1F1; */
  padding-bottom: 5px;
  font-weight: 600;
  border-radius: 12px;
}
.navbar a:hover {
  background-color: #A3D2CA;
  border: 1px solid #F8F1F1;
}
.home-h2 {
  text-align: center;
  margin-bottom: 16px;
  font-weight: 500;
}
.content {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
}
.goal-preview {
  background-color: white;
  border-radius: 12px;
  margin-bottom: 18px;
  border: 1px solid #5EAAA8;
}
.goal-preview:hover {
  box-shadow: 1px 3px 5px grey;
  cursor: pointer;
}
.goal-header {
  background-color: #A3D2CA;
  border-radius: 11px 11px 0 0;
  padding: 10px;
  color: #F8F1F1;
  width: 100%;
  box-sizing: border-box;
}
.goal-header h2 {
  font-weight: 500;
}
.goal-date {
  color: grey;
  font-weight: 400;
}
.goal-steps {
  padding: 10px;
}
.goal-footer {
  display: flex;
  background-color: #EB5E0B;
  padding: 8px;
  border-radius: 0 0 11px 11px;
  justify-content: space-around;
  color: #F8F1F1;
  /* text-shadow: .5px .5px black; */
}
